// Заголовки, загальні БЕМ блоки та інше...
.subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    &::before {
        content: " ";
        display: inline-block;
        width: 60px;
        height: 1px;
        background-color: rgba(157, 164, 189, 0.6);
        position: relative;
        top: -3px;
        margin-right: 20px;
    }
}

.title {
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #303030;
    margin-bottom: 20px;
    @include max-1199 {
        font-size: 28px;
        line-height: 1.17;
    }
    @include min-1200 {
        font-size: 42px;
        line-height: 1.16;
    }
}

.text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.85;
    letter-spacing: 0.02em;
}

.link {
}

.social-link {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;

    color: #303030;
}
.button {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 1px solid $hovercolor;
    border-radius: 25px;
    transition: all $animation;
    &:hover,
    &:focus {
        background-color: $hovercolor;
        color: #fff;
    }
}
.scroll-to-home {
    position: fixed;
   
    overflow: hidden;
    color: $titlecolor;
    transition: color $animation;
    @include max-767 {
        display: none;
    }
    @include min-768 {
        left: 10px;
        bottom: 10px;
    }
    &:hover,
    &:focus {
        color: $hovercolor;
    }
    svg {
        width: 50px;
        height: 50px;
        fill: transparent;
        stroke: currentColor;
    }
}