//========================/ Header /====================================
body {
   header {
      display: flex;
      align-items: center;
      background-color: red;
      .header__container {
         background-color: yellow;
         width: 100vw;
         height: 100vh;
      }
      @include min-768 {
         background-color: black;
      }
   }
}
//========================/ Header /====================================
